# Node.js dependencies
node_modules/

# Vite build output
/dist/

# Editor-specific files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Build artifacts and cache
.cache/
*.log
npm-debug.log*